@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.expense-item {
    display: flex;
    margin-bottom: 10px;
}

.income-item {
    display: flex;
    margin-bottom: 10px;
}

.expense-item .remove-expense-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 120%;
}

.income-item .remove-income-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 120%;
}

#budget {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#reset-form-btn {
    background-color: #be3f3f;
    margin-top: 20px;
    cursor: pointer;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
    text-align: center;
}

#modal-close-btn {
    margin-top: 8px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#date-time-display {
    font-size: 130%;
    color: #ff0000;
}

header p:hover {
    color: blue;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

body {
    margin: 2% 5% 5%;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top right, rgba(47, 166, 245, 0.3), rgba(234,44,255,0.3));
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 110%;
}

.currnecy-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom left, rgba(47, 166, 245, 0.2), rgba(234,44,255,0.2));
    border-radius: 15px;
}

#budget-calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#currency-box {
    padding: 20px 0;
}

#name-form {
    padding-bottom: 20px;
}

.income-expense-text {
    padding: 20px;
}

h2 {
  margin: 0 auto;
}

nav {
    font-size: 120%;
    font-weight: 500;
}

label {
    font-size: 120%;
}

input[type="text" i] {
    font-size: 120%;
}

input[type="number" i] {
    font-size: 120%;
}

select  {
    font-size: 120%;
}

.fa-brands {
    font-size: 150%;
}