header {
    display: flex;
    justify-content: space-between;
}

.expense-item {
    display: flex;
    margin-bottom: 10px;
}

.income-item {
    display: flex;
    margin-bottom: 10px;
}

.expense-item .remove-expense-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.income-item .remove-income-btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#budget {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#reset-form-btn {
    background-color: #be3f3f;
    margin-top: 20px;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
    text-align: center;
}

#modal-close-btn {
    margin-top: 8px;
}

.hidden {
    display: none;
}